.cover__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  max-width: 510px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 230px;
    font-size: 32px;
    line-height: 35px;
  }
}